*{
    margin: 0;
}

@font-face {

    font-family: 'Acumin Variable Concept';
    src: url('../fonts/AcuminVariableConcept.otf') format('OpenType');
}

body{
    font-size: 65.5%;
    background-image: linear-gradient(to bottom left, #3d3d3d, black);
    font-family: 'Acumin Variable Concept';
    color: white;
} 

.container{
    width: 1280px;
    margin: 0 auto;
}

/* cabeçalho */

header{
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome_destaque{
    margin-left: 40px;
    font-size: 1.875em; /* 40pt /  */
    font-weight: 600;
    color: #ffba00;
}

.nome_destaque p{
    font-size: 0.75em; /*16pt / */
    color: white;
}

/* CONTEUDO */

.linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo_conteudo{
    font-size: 1.875em; /* 30pt / */ 
    font-weight: 800;
}

.div_conteudo{
    width:  580px ; /* 48.4% -->  580px baseado em resolução de 1280px */
    margin: 20px;
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infos_conteudo{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto_direita{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 73.27%;
    margin-left: 13.8%;
    margin-right: 3.45%;
    
}

.texto_esquerda{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 73.27%;
    margin-left: 3.45%;
    margin-right: 13.8%;
}

/* perfil pessoal */ 

.barra_pp{
    width: 10%;
    background-color: #ff2a00;
}
.color_pp{
    color: #ff2a00;
}
.texto_pp{
    flex-direction: column;
    row-gap: 20px;
}
.perfilcomportamental{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icone_pp{
    margin-left: 20px;
}

/* Graduacao */

.barra_grad{
    width: 10%;
    background-color: #ff6e00;
}
.color_grad{
    color: #ff6e00;
}

/* certficados  */

.barra_certif{
    width: 10%; /* 55px */
    background-color: #ffba00;
}
.color_certif{
    color: #ffba00;
}

/* EXPERIENCIAS ANTERIORES*/

.barra_exp{
    width: 10%;
    background-color: #99ad00;
}
.color_exp{
    color: #99ad00;
}

/* Alinhamento do grid de icones com texto */

.img_icones{
    max-width: 30px;
    max-height: 30px;
}
.coluna{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.grid_interno{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.grid_interno p{
    margin-left: 20px;
    text-align: justify;
}

/* LINGUAS E FERRAMENTAS */ 

.barra_tools{
    width: 10%;
    background-color: #008cff;
}
.color_tools{
    color: #008cff;
}

/* CONTATO */

.barra_contato{
    width: 10%;
    background-color: #ff0088;
}
.color_contato{
    color: #ff0088;
}

/* HOBBIES */ 

.barra_hobbie{
    width: 10%;
    background-color: #424242;
}
.color_hobbie{
    color: #424242;
}

/* AULAS */

.barra_aulas{
    width: 10%;
    background-color: white;
}
.color_aulas{
    color: white;
}
.grid_interno a{
    text-decoration: none;
    color: white;
}
.grid_interno a:hover{
    text-decoration: none;
    color:#99ad00;
    font-weight: 600;
}

@media screen and (max-width: 1024px){
    
    .container{
        width: 1024px;
        margin: 0 auto;
    }

    body{
        background-image: linear-gradient(to bottom left, #242424, #242424);
    }
    
    .linha{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infos_conteudo{
        font-size: 1.5em;
        display: flex;
        flex-direction: column;        
        align-items: center;
        margin: 10px;
    }

    .texto_direita{
        margin: 10px ;
    }
    
    .texto_esquerda{
        margin: 10px ;
    }

    .medida_barra{
        height: 55px;
        width: 100%;
    }
}

@media screen and (max-width: 712px){
    
    .container{
        width: 712px;
    }

    .barra{
        display: none;
    }

    .titulo{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

}