body {
    background-color: white;
    color: rgb(0, 0, 0);
    background-image: url("../img/bg_white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


